body {
    margin: 0; /* Remove default body margin */
    padding-bottom: 100px; /* Add padding to the bottom of the body to accommodate the footer */
    position: relative; /* Set position relative for proper positioning of the footer */
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333; /* Dark background color */
    padding: 10px 20px; /* Add padding for better spacing */
}

#logonav img {
    height: 80px; /* Adjust height of logo */
    width: auto; /* Let the width adjust automatically */
}

#logoptions {
    display: flex; /* Use flexbox for the list */
    justify-content: center; /* Center the list items */
}

#navbar ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    display: flex; /* Use flexbox for the list */
}

#navbar ul li {
    margin-right: 20px; /* Add spacing between menu items */
}

#navbar ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

#navbar ul li a {
    text-decoration: none; /* Remove underline from links */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Adjust font size */
    color: #fff; /* White color for links */
}

#navbar ul li.redc a {
    color: red; /* Red color for links within list items with class redc */
}

#navbar ul li.bluec a {
    color: mediumturquoise; /* Blue color for links within list items with class bluec */
}

#navbar ul li a:hover {
    color: #ffd700; /* Change color on hover */
}

#footer {
    background-color: #fff; /* White background color */
    position: fixed; /* Fixed positioning to keep it at the bottom of the viewport */
    bottom: 0; /* Align the footer to the bottom */
    left: 0; /* Align the footer to the left */
    width: 100%; /* Set width to 100% */
    padding: 20px; /* Add padding for spacing */
    display: flex; /* Use flexbox for layout */
}

#footer div {
    flex-grow: 1; /* Allow each column to grow equally */
}

#footer div p {
    margin: 0; /* Remove default margin from paragraphs */
}
