body {
    margin: 0; /* Remove default body margin */
    padding-bottom: 100px; /* Add padding to the bottom of the body to accommodate the footer */
    position: relative; /* Set position relative for proper positioning of the footer */
    overflow: hidden;

}
#mainhome {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 160px;
    background-image: url("Photos/40gp-uneedit5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Set a high z-index to keep the navbar on top */
}
#logonav img {
    height: 80px; /* Adjust height of logo */
    width: auto; /* Let the width adjust automatically */
}

#logoptions {
    display: flex; /* Use flexbox for the list */
    justify-content: center; /* Center the list items */
}

#navbar ul {
    list-style-type: none; /* Remove default list styles */
    margin-right: 30px; /* Add spacing between menu items */
    margin-left: 20px; /* Shift menu items to the left */
    padding: 0; /* Remove padding */
    display: flex; /* Use flexbox for the list */

}

#navbar ul li {
    margin-right: 20px; /* Add spacing between menu items */
}

#navbar ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

#navbar ul li a {
    text-decoration: none; /* Remove underline from links */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Adjust font size */
    color: #fff; /* White color for links */
}

#navbar ul li.redc a {
    color: red; /* Red color for links within list items with class redc */
}

#navbar ul li.bluec a {
    color: mediumturquoise; /* Blue color for links within list items with class bluec */
}

#navbar ul li a:hover {
    color: #ffd700; /* Change color on hover */
}

#hometext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(51, 51, 51, 0.95);
    width: 450px;
    height: 125px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 13px;
}
#hometext img {
    width: 300px; /* Adjust the width of the image */
    margin-top: 7px;

}

#hometext p {
    margin-top: 15px; /* Adjust spacing between image and text */
}

.white-text {
    color: white; /* Set color of "voor al uw reparaties kunt u terecht bij" to white */
}

.blue-text {
    color: mediumturquoise; /* Set color of "Uneed-" to blue */
}

.red-text {
    color: red; /* Set color of "-it" to red */
}


#footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    z-index: 999; /* Ensure the footer stays behind the navbar */
}

#footer div {
    flex-grow: 1; /* Allow each column to grow equally */
}

#footer div p {
    margin: 0; /* Remove default margin from paragraphs */
}
#telefoonnnumer {
    flex-grow: 1;
    text-align: center;
}
#adress{
    flex-grow: 1;
    text-align: center;
}
#tijd{
    flex-grow: 1;
    text-align: center;
}
#footer div img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}