body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#logonav img {
    height: 80px;
}

#logoptions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#logoptions ul li {
    margin-right: 20px;
}
#logoptions ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}
#logoptions ul li.redc a {
    color: red;
}
#logoptions ul li.bluec a {
    color: mediumturquoise;
}
#logoptions ul li a:hover {
    color: #ffd700;
}

#logoptions ul li:last-child {
    margin-right: 30px;
}

#logoptions ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

#mainZakelijk {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.block-text {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
}

h1, p {
    color: #333;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
